.product-page {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    gap: rem(32);

    @include tablet {
      gap: rem(22);
      flex-direction: column;
    }
  }
}
