@use 'helpers' as *;
* {
  &::-webkit-scrollbar {
    width: rem(4);
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: rem(4);
  }
}

body {
  @include fluid-text(16, 14);

  color: #fff;
  font-family: var(--font-family-base);
  transition: all 0.2s;
  min-width: rem(316);

  &::selection {
    background-color: white;
    color: black;
  }
}

main {
  flex: 1;
  // margin-block: rem(50);

  &:has([datatype='auth-page']) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

h1 {
  font-size: rem(46);
  font-weight: 600;
}

h2 {
  font-size: rem(42);
  font-weight: 700;
}

.product-card-list {
  display: grid;
  column-gap: clamp(5px, 4vw, 30px);
  row-gap: clamp(40px, 4vw, 60px);
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));

  @include laptop {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  }

  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  @include mobile-s {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

.layout {
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
  min-height: 100vh;
  flex: 1;
}

label[data-slot='form-label'] {
  margin-bottom: rem(10);
}
