@use 'helpers' as *;

.page-wrapper {
  @include container-base();
  @include mobile-adaptation();

  &--profile {
    @include container-base(var(--container-profile-width));
    @include mobile-adaptation(var(--container-profile-width));

    main {
      margin-block: 0;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
