@use 'helpers' as *;

:root {
  --font-family-base: 'Geist', sans-serif;
  --container-width: #{rem(1440)};
  --container-profile-width: #{rem(1840)};
  --container-padding-x: #{rem(16)};
  --transition-duration: 0.2s;
  --color-gray: oklch(65% 0.014 262.36deg);
  --color-gray: rgb(138 143 152);
  --color-ligth: rgb(152 158 170);
  --border-gray: rgb(255 255 255 / 10%);
}
