.swipe-button {
  background-color: #fff;
  position: relative;
  user-select: none;
  margin-top: rem(20);

  &:active,
  &:hover {
    &::after {
      animation-name: hint-animation;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-delay: 0.2s;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: rem(180);
    height: rem(34);
    border-radius: rem(8);
    background: #fff;
    z-index: -1;
    opacity: 0.5;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  }

  &:hover {
    transform: translateX(rem(10));
  }

  &__icon {
    transition: all 0.2s ease-out;
    width: rem(20) !important;
    height: auto;
  }

  &__drag-container {
    display: inline-flex;
    column-gap: rem(10);

    @include mobile {
      align-self: center;
    }
  }
}

@keyframes hint-animation {
  0% {
    translate: 0;
  }

  70% {
    translate: rem(70);
    opacity: 0;
  }

  100% {
    translate: rem(70);
    opacity: 0;
  }
}
