.basket-list-container {
  background-color: #1a1b1e;
  border: 1px solid #2c2e33;
  border-radius: 16px;
  padding: 1.5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #2c2e33;
  }

  &__title-group {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &__number {
    font-variant-numeric: tabular-nums;
    display: inline-block;
    text-align: left;
  }

  &__select-all {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #adb5bd;
    cursor: pointer;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}
