.heart-button {
  position: absolute;
  right: rem(10);
  top: rem(10);

  &__icon {
    color: rgb(212, 212, 212);
    stroke-width: 1.5px;

    &--is-like {
      fill: oklch(0.64 0.21 25);
    }
  }
}
