.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray);
  border-top: rem(1) solid var(--border-gray);
  padding-block: rem(20);

  @include tablet {
    padding-bottom: rem(100);
  }

  &__content {
    display: flex;
    align-items: first baseline;
    gap: rem(10);
  }
}
