.product-slider {
  display: flex;
  gap: rem(12);
  aspect-ratio: 6/7;
  height: fluid(700, 350);
  width: 100%;
  @include laptop {
    aspect-ratio: 6/8;
  }

  @include tablet {
    aspect-ratio: 6/9;
  }
}

.slider-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: rem(44);
  height: rem(44);

  border: none;
  border-radius: 50%;

  background: #fff;
  color: #000;

  font-size: rem(20);
  cursor: pointer;

  box-shadow: 0 rem(6) rem(16) rgba(0, 0, 0, 0.18);

  transition:
    transform 0.15s ease,
    opacity 0.15s ease;

  &:hover {
    transform: scale(1.06);
  }

  &.is-disabled,
  &[disabled] {
    opacity: 0;
    display: none;
  }
}

.product-slider__thumbs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width <= rem(1400)) {
    display: none;
  }
}

.thumbs__viewport {
  flex: 1;
  width: 100%;
  overflow: hidden;
  padding-block: rem(5);
}

.thumbs__container {
  display: flex;
  flex-direction: column;
  padding: rem(5);
  gap: rem(12);
}

.thumbs__slide {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  img {
    height: rem(112);
    object-fit: cover;
    border-radius: rem(14);
    aspect-ratio: 3/4;
    transition: 0.2s;
    user-select: none;
  }

  &.is-active img,
  &:hover img {
    outline: rem(3) solid #fff;
    outline-offset: -rem(3);
  }
}

.thumbs__btn {
  @extend .slider-btn;

  width: rem(36);
  height: rem(36);
  font-size: rem(16);
  z-index: 10;

  &--prev {
    top: rem(18);
  }

  &--next {
    bottom: rem(18);
  }
}

.product-slider__main {
  position: relative;
  flex: 1;

  &:hover {
    .main__btn {
      transition: all 0.2s ease;
      opacity: 1;
    }
  }
}

.main__viewport {
  height: 100%;
  overflow: hidden;
  border-radius: rem(20);
}

.main__container {
  display: flex;
  height: 100%;
  gap: rem(16);
}

.main__slide {
  flex: 0 0 100%;
  height: 100%;
}

.main__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}

.main__btn {
  @extend .slider-btn;
  transition: all 0.2s ease;
  opacity: 0;

  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  &:hover {
    transform: translateY(-50%) scale(1.06);
  }

  &--prev {
    left: rem(12);
  }

  &--next {
    right: rem(12);
  }
}
