.product-table-option {
  &__table {
    width: 100%;
    font-size: rem(13);

    tbody {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(8);
      align-items: start;
    }

    td {
      padding-left: rem(8);
      min-width: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;

      &.fullmode {
        display: block;
      }
    }

    th {
      min-width: 0;
      color: var(--color-gray);
      font-weight: 400;
      text-align: left;
      display: flex;
      align-items: start;

      span {
        padding-right: rem(8);
      }
    }

    .product-body__label {
      background-color: oklch(14.5% 0 0deg);
      padding-right: rem(8);
      position: relative;
      z-index: 2;
      white-space: normal;
      line-height: 1.25;
    }

    th::after {
      content: '';
      flex: 1;
      min-width: rem(50);
      height: rem(3);
      align-self: flex-start;
      margin-top: rem(7);
      background-image: radial-gradient(
        circle,
        var(--color-gray) rem(0.1),
        transparent 1.6px
      );
      background-size: rem(5) rem(10);
      background-repeat: repeat-x;
      background-position: left center;
      z-index: 1;
    }
  }
}
