.dropdown-filter {
  display: inline;
  position: relative;

  &__popover {
    position: absolute;
    width: max-content;
    top: calc(100% + 10px);
    left: 0%;
    z-index: 999;
    background-color: rgb(0 0 0 / 9500%);
    padding: rem(20);
    border: rem(1) solid rgb(255 255 255 / 20%);
    border-radius: rem(8);
  }

  &__bridge {
    position: absolute;
    width: 100%;
    height: rem(8);
  }

  &__label {
    font-weight: normal;
    font-size: rem(16);
    color: var(--color-gray);
  }
}
