.product-body {
  width: fluid(400, 300);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: rem(30);
  flex: 0 0 auto;
  overflow: hidden;

  @include laptop{
    flex-grow: 1;
    width: 100%;
  }

  

  &__header {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__badge {
    transition: all 0.2s ease;
    &:hover {
      transition: all 0.2s ease;
      background-color: rgb(77, 77, 77);
    }
  }

  &__title {
    @include fluid-text(22, 18);
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: 0;
  }

  &__review,
  &__badges {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: rem(14);
  }

  &__review-link {
    &:hover {
      color: oklch(69.019% 0.15307 253.246);
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    width: 100%;
    padding: rem(10);
    border-radius: rem(15);
  }

  &__table {
    width: 100%;
    font-size: rem(13);

    tbody {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr; // 50/50 как у тебя
      column-gap: rem(8);
      align-items: end;
    }

    td {
      padding-left: rem(8);
      min-width: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      min-width: 0;
      color: var(--color-gray);
      font-weight: 400;
      text-align: left;
      display: flex;
      align-items: baseline;
    }

    .product-body__label {
    background-color: oklch(0.145 0 0);
      padding-right: rem(8);
      position: relative;
      z-index: 2;
      white-space: normal;
      line-height: 1.25;
    }

    th::after {
      content: '';
      flex: 1;
      min-width: rem(50);
      height: rem(3);
      align-self: flex-end;
      margin-bottom: rem(5);

      background-image: radial-gradient(
        circle,
        var(--color-gray) rem(0.1),
        transparent 1.6px
      );
      background-size: rem(5) rem(10);
      background-repeat: repeat-x;
      background-position: left center;

      z-index: 1;
    }
  }
}
