.product-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: rem(30);
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__badge {
    transition: all 0.2s ease;

    &:hover {
      transition: all 0.2s ease;
      background-color: rgb(77 77 77);
    }
  }

  &__title {
    @include fluid-text(22, 18);

    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: 0;
  }

  &__review,
  &__badges {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: rem(14);
  }

  &__review-link {
    &:hover {
      color: oklch(69.019% 0.15307 253.246deg);
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    gap: rem(25);
    width: 100%;
    padding: rem(10);
    border-radius: rem(15);
  }
}
