.basket-page {
  &__content {
    display: grid;
    grid-template-columns: 1fr rem(380);
    gap: 2rem;
    align-items: flex-start;
    margin-top: 1rem;
  }

  @media (max-width: 992px) {
    &__content {
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}
