.user-settings {
  &__avatar-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  &__image-wrapper {
    position: relative;
    height: rem(100);
    width: rem(100);
    cursor: pointer;
  }
}

.avatar-clickable {
  cursor: pointer !important;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.upload-icon-overlay {
  transition: all 0.2s;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(rem(10));
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(4);
  color: white;
  font-size: rem(14);
  animation: overlayAppear 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes overlayAppear {
  0% {
    opacity: 0;
    transform: scale(0.95);
    backdrop-filter: blur(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    backdrop-filter: blur(rem(10));
  }
}
