.filters-block {
  &__container {
    display: flex;
    align-items: center;
    column-gap: rem(20);
    overflow-x: auto;
    padding: rem(5);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
