.mobile-navbar {
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #121212;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex-grow: 1;
    padding-block: rem(15);
    padding-inline: rem(15);
    :hover {
      > .mobile-navbar__icon {
        color: rgb(56, 125, 237);
      }
    }
  }

  &__icon {
    margin-inline: auto;
  }
}
