.my-shops-page {
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: rem(20);
  }
}

.shop-card {
  display: flex;
  flex-direction: column;
  gap: rem(15);
  min-width: rem(270);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__titleBlock {
    display: flex;
    align-items: center;
    gap: rem(10);
    min-width: 0;
  }

  &__title {
    @include fluid-text(18, 14);
    font-weight: 600;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: rem(240);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(15);
  }

  &__footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: rem(12);
  }
}

.metrics {
  display: flex;
  gap: rem(12);
}

.metric {
  display: inline-flex;
  align-items: center;
  gap: rem(6);
  font-size: rem(14);
  opacity: 0.9;
}

.meta {
  &__desc {
    font-size: rem(14);
    opacity: 0.9;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: rem(40);
  }

  &__date {
    font-size: rem(12);
    opacity: 0.65;
    margin-top: rem(6);
  }
}
