.root {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  width: rem(155);
}

.input {
  display: none;
}

.previewWrap {
  position: relative;
  width: rem(155);
  height: rem(155);
}

.preview {
  width: rem(155);
  height: rem(155);
  border-radius: rem(20);
  overflow: hidden;
  border: 1px dashed var(--border);
  background-color: rgb(18, 18, 18);
}

.preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.sidePanel {
  position: absolute;
  top: 0;
  left: calc(100% + rem(10));
  width: rem(155);
  height: rem(155);

  border-radius: rem(20);
  border: 1px dashed var(--border);
  background-color: rgb(18, 18, 18);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(10);
  padding: rem(12);

  transform: translateX(rem(-12));
  opacity: 0;
  pointer-events: none;

  transition:
    transform 160ms ease,
    opacity 160ms ease;
}

.sidePanel--open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;

  ::before {
    position: absolute;
    content: '';
    height: 100%;
    width: rem(15);
    left: rem(-13);
  }
}

.sidePanel__btn {
  width: 100%;
}
