.profile-layout {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-items: start;
  gap: rem(20);
  min-width: 0;

  @include mobile {
    gap: rem(0);
  }

  > * {
    min-width: 0;
  }

  &__aside {
    position: sticky;
    top: 0;
  }
}
