.user-settings {
  margin-top: rem(20);

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding: clamp(rem(10), 3vw, rem(40));
    border-radius: rem(20);
    border: rem(1) solid rgba(255, 255, 255, 0.1);
  }

  &__preview-info-container {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__image-wrapper {
    position: relative;
    height: rem(100);
    width: rem(100);
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 100%;

    min-width: 100%;
    min-height: 100%;
  }

  &__information {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include fluid-text(20, 16);
  }

  &__email {
    color: var(--color-gray);
  }

  &__form-content {
    display: grid;
    grid-template-columns: repeat(1, rem(500));
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
