.user-settings {
  margin-top: rem(20);

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    padding: clamp(rem(10), 3vw, rem(40));
    border-radius: rem(20);
    border: rem(1) solid rgb(255 255 255 / 10%);
  }

  &__preview-info-container {
    display: flex;
    align-items: center;
    gap: rem(20);
  }

  &__information {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include fluid-text(20, 16);
  }

  &__email {
    color: var(--color-gray);
  }

  &__form-content {
    display: grid;
    grid-template-columns: repeat(1, rem(500));
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__bottom-items {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: rem(12);
  }
}
