.product-summary {
  border-radius: rem(16);
  padding: rem(20);
  box-shadow: rem(0) rem(0) rem(22) rgba(255, 255, 255, 0.16);
  flex: 0 0 rem(320);
  box-sizing: border-box;

  @include laptop {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__price {
    display: flex;
    align-items: baseline;
    gap: rem(8);

    &-current {
      font-weight: 700;
      font-size: rem(24);
      line-height: 1;
      color: #fff;
    }

    &-old {
      color: var(--color-gray);
      text-decoration: line-through;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    font-size: rem(12);
    color: #b0b0b0;

    &-row {
      display: flex;
      align-items: center;
      gap: rem(6);

      span {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
